@page "/admindashboard"
@attribute [Authorize("Administrator")]
@inject IAdminManager AdminManager
@inject NavigationManager NavigationManager

<div class="container-fluid">
    <div class="main">
        <div class="row h-100 justify-content-md-center content-row">
            <div class="col-lg-5 col-md-12 my-auto">
                <h1 style="font-size: 38px">Select elements to manage:</h1>
                <button class="action-button purple @userPressedButton" @onclick=OpenUsersView><img src="/img/user.svg"></button>
                <button class="action-button purple @companyPressedButton" @onclick=OpenPostsView><img src="/img/company.svg"></button>
            </div>
            <div class="col-lg-5 col-md-12 text-center">
                <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(1)">
                    @tableRender
                </Animate>
            </div>
        </div>
    </div>
</div>


@code {

    private RenderFragment tableRender;
    private string userPressedButton;
    private string companyPressedButton;
    private List<int> posts;
    
    int totalNumberOfUsers;

    protected async override Task OnInitializedAsync()
    {
       totalNumberOfUsers = await AdminManager.GetTotalNumberOfUsers();
        posts = new List<int>();
    }

    private void OpenUsersView()
    {
        tableRender = @<Animate Animation="Animations.ZoomIn">
                                 <AdminTable TotalElementsNumber="@totalNumberOfUsers" PageElementsNumber="3"/>
                             </Animate>;
    }

    private async Task OpenPostsView()
    {
        posts = await AdminManager.GetPosts(5, posts.Count);
        tableRender = @<div>
                          @foreach (var post in posts)
                          {
                              <Post PostID="post"/>
                          }
                      </div>;
    }
}