@page "/admindashboard"
@using SEP3_Tier1Blazor_WASM.Authentication
@attribute [Authorize("Administrator")]
@inject IAdminManager AdminManager
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Authentication

<div class="container-fluid">
    <button class="btn btn-light btn-sm" @onclick=Logout>Logout</button>
    <div class="row h-100 justify-content-md-center content-row">
        <div class="col-lg-5 col-md-12 ">
            <h1 style="font-size: 38px; color: white;margin-top: 30px">Select elements to manage:</h1>
            <button class="action-button purple @userPressedButton" @onclick=OpenUsersView><img src="/img/user.svg"></button>
            <button class="action-button purple @companyPressedButton" @onclick=OpenPostsView><img src="/img/company.svg"></button>
        </div>
        <div class="col-lg-5 col-md-12 text-center">
            <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(1)">
                @tableRender
            </Animate>
        </div>
    </div>
</div>


@code {
    
    [CascadingParameter]
    public ModalException ModalException { get; set; }

    private RenderFragment tableRender;
    private string userPressedButton;
    private string companyPressedButton;
    private List<int> posts;
    private int totalNumberOfUsers;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            totalNumberOfUsers = await AdminManager.GetTotalNumberOfUsers();
            posts = new List<int>();
        }
        catch
        {
            ModalException.Open();
        }
       
    }

    /// <summary>
    /// Navigates to user profile
    /// </summary>
    private void OpenUsersView()
    {
        tableRender = @<Animate Animation="Animations.ZoomIn">
                                 <AdminTable TotalElementsNumber="@totalNumberOfUsers" PageElementsNumber="3"/>
                             </Animate>;
    }

    /// <summary>
    /// Displays posts in admin view
    /// </summary>
    private async Task OpenPostsView()
    {
        try
        {
            posts = await AdminManager.GetPosts(5, posts.Count);
            tableRender = @<div class="admin-post-view">
                              @foreach (var post in posts)
                              {
                                  <Post PostID="post"/>
                              }
                              <div class="btn btn-sm btn-light" @onclick=LoadMorePosts>Load More</div>
                          </div>;
        }
        catch
        {
            ModalException.Open();
        }
      
    }

    /// <summary>
    /// Loads more posts to the post view
    /// </summary>
    private async Task LoadMorePosts()
    {
        try
        {
            var temp = await AdminManager.GetPosts(5, posts.Count);
            if (temp != null)
            {
                foreach (var p in temp)
                {
                    posts.Add(p);
                }
                StateHasChanged();
            }
        }
        catch
        {
            ModalException.Open();
        }
      
    }

    /// <summary>
    /// Log out administrator from a system
    /// </summary>
    private void Logout()
    {
       ((CustomAuthenticationStateProvider)Authentication).Logout();
        NavigationManager.NavigateTo("/", true);
    }
}