@page "/FitnessWall"
@attribute [Authorize]
@* @inject IJSRuntime JS; *@
@inject AuthenticationStateProvider Authentication


<div class="container-fluid">
   <PostCreator OnPostCreated="NewPostCreated" />
   <Post PostID="0"/>
</div>

@code {
    List<PostData> posts;

    private Post createdPost;

    protected async override Task OnInitializedAsync()
    {
        // var dotNetReference = DotNetObjectReference.Create(this);
        // await JS.InvokeVoidAsync("connect", dotNetReference, StaticFunctions.GetLoggedUserId( await Authentication.GetAuthenticationStateAsync()));
        
        //download posts
        posts = new List<PostData>();
        
    }

    protected void NewPostCreated(PostData newPost)
    {
        posts.Add(newPost);
    }

}