@page "/FitnessWall"
@attribute [Authorize]
@inject AuthenticationStateProvider Authentication


<div class="container-fluid">
    <div class="row">
        <CalendarCard/>
        <div class="col-6 offset-1">
            <PostCreator OnPostCreated="NewPostCreated"/>
            @foreach (var post in posts)
            {
                <Post PostID="post.Id"/>
            }
        </div>
        <div class="col-2">
            avalialble users
        </div>
    </div>

</div>


@code {
    List<PostData> posts;

    private Post createdPost;

    protected async override Task OnInitializedAsync()
    {
        posts = new List<PostData>();
    }

    private void NewPostCreated(PostData newPost)
    {
        posts.Add(newPost);
        StateHasChanged();
    }

}