@page "/FitnessWall"
@attribute [Authorize]
@* @inject IJSRuntime JS; *@
@inject AuthenticationStateProvider Authentication


<div class="container-fluid">
    <div class="row">
        <CalendarCard/>
        <div class="col-6 offset-1">
            <PostCreator OnPostCreated="NewPostCreated"/>
            <Post PostID="0"/>
        </div>
        <div class="col-2">
            avalialble users
        </div>
    </div>

</div>

@code {
    List<PostData> posts;

    private Post createdPost;

    protected async override Task OnInitializedAsync()
    {
    // var dotNetReference = DotNetObjectReference.Create(this);
    // await JS.InvokeVoidAsync("connect", dotNetReference, StaticFunctions.GetLoggedUserId( await Authentication.GetAuthenticationStateAsync()));

    //download posts
        posts = new List<PostData>();
    }

    protected void NewPostCreated(PostData newPost)
    {
        posts.Add(newPost);
    }

}