@using SEP3_Tier1Blazor_WASM.Models.Notification
@inject NavigationManager NavigationManager
@inject IUserManger UserManger
<a class="dropdown-item notification-item" @onclick=React>
    <h3 class="notification-sender">@Model.SenderName</h3>
    <p class="notification-content">@Model.Content</p>
</a>
@code {
    [CascadingParameter] 
    public ModalException ModalException { get; set; }
    [Parameter]
    public NotificationModel Model { get; set; }
    [Parameter]
    public string CurrentLoggedName { get; set; }
    [Parameter]
    public int CurrentLoggedId { get; set; }
    
    /// <summary>
    /// Reacts based on the notification received from javascript file
    /// </summary>
    private async Task React()
    {
        try
        {
            await UserManger.MarkNotificationAsRead(Model.Id);
            if (Model.ActionType.Equals(UserActionTypes.USER_FRIEND_REQUEST_SEND.ToString()))
            {
                NavigationManager.NavigateTo($"profile/{StaticFunctions.GetUserUri(Model.SenderName)}.{Model.SenderId}/", true);
            }

            if (Model.ActionType.Equals(UserActionTypes.MESSAGE_CREATE.ToString()))
            {
                NavigationManager.NavigateTo($"chat/{StaticFunctions.GetUserUri(Model.SenderName)}.{Model.SenderId}/", true);
            }

            if (Model.ActionType.Equals(UserActionTypes.USER_FOLLOW_PAGE.ToString()))
            {
                NavigationManager.NavigateTo($"profile/{StaticFunctions.GetUserUri(CurrentLoggedName)}.{CurrentLoggedId}/", true);
            }
        }
        catch
        {
            ModalException.Open();
        }
        
    }

}