@using System.Security.Cryptography
@inject AuthenticationStateProvider Authentication
@inject IFileUpload FileUpload
@inject IPostManager PostManager
<div class="post-creator">
    <div class="row">
        <div class="col-6 d-flex align-self-center">
            <h2>Create your post</h2>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button id="toggle-button" @onclick=ToggleCreator>+</button>
        </div>
    </div>
    <div class="row">
         <div class="content">
                <EditForm OnValidSubmit=CreatePost Model="postShortVersion">
                    @if (isCreationProcess)
                    {
                        <InputText class="form-input" placeholder="Title" id="title" @bind-Value="postShortVersion.Title"/>
                        <InputTextArea class="form-input" placeholder="Content" id="content" @bind-Value="postShortVersion.Content"/>
                        <InputFile OnChange="OnInputFileChanged"/>
                        if (postShortVersion.Picture != null)
                        {
                            <img src="@postImgSrc" alt="PostImage" width="200" height="100"/>
                        }
                        <input type="submit" class="form-button" value="Create Post"/>
                    }
                </EditForm>
            </div>
    </div>
   
</div>

@code {

    [Parameter]
    public EventCallback<int> OnPostCreated { get; set; }
    
    [CascadingParameter]
    public ModalException ModalException { get; set;}
    
    private PostShortVersion postShortVersion;
    private UserShortVersion currentLogged;
    private string postImgSrc;
    private bool isCreationProcess = false;

    protected override async Task OnInitializedAsync()
    {
        postShortVersion = new PostShortVersion();
        currentLogged = StaticFunctions.GetLoggedUser(await Authentication.GetAuthenticationStateAsync());
    }

    private async Task CreatePost()
    {
        postShortVersion.Owner = currentLogged;
        if (postImgSrc == null || !postImgSrc.Equals(""))
            postShortVersion.HasImage = false;
        else
            postShortVersion.HasImage = true;
        try{
            await OnPostCreated.InvokeAsync(await PostManager.AddNewPost(postShortVersion));
            postShortVersion = new PostShortVersion();
        }
        catch{
             ModalException.Open();
        }
    }

    private async Task OnInputFileChanged(IFileListEntry[] files)
    {
        byte[] postImage = await FileUpload.ConvertFile(files.FirstOrDefault());
        postShortVersion.Picture = postImage;
        postImgSrc = String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(postImage));
        StateHasChanged();
    }

    private void ToggleCreator()
    {
        isCreationProcess = !isCreationProcess;
        StateHasChanged();
    }

}